<div style="border-radius:20px 20px 0px 0px;padding: 20px" class="s">
    <div style="display: flex; justify-content: space-between">
        <div style="font-size: 18px;font-weight: bold">
            Album
        </div>
        <div>
            <ion-icon style="font-size: 25px" (click)="dismiss()" name="close-outline"></ion-icon>
        </div>
    </div>

    <div (click)="gotoDiscovertwo()" style="display: flex; margin-top: 12px; align-items: center">
        <div>
            <img style="width: 30px;" src="assets/chat/popUp/imagenesfotos.png" />
        </div>
        <div style="margin-left: 10px">
            Mis Publicaciones
        </div>
    </div>

    <div (click)="gotoDiscover()" style="display: flex; margin-top: 12px; align-items: center">
        <div>
            <img style="width: 30px;;" src="assets/chat/popUp/img.png" />
        </div>
        <div style="margin-left: 10px">
            Momentos
        </div>
    </div>

    <!-- <div style="display: flex; margin-top: 12px; align-items: center">
        <div>
            <img style="height: 40px" src="assets/chat/popUp/3.png" />
        </div>
        <div style="margin-left: 10px">
            Video ventas
        </div>
    </div> -->

</div>