<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" (click)="goBack()">
            <ion-icon style="font-size: 30px; " name="chevron-back-outline"></ion-icon>
        </ion-buttons>

        <ion-title>Tarjeta bancaria</ion-title>


    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list lines="full" class="ion-no-margin">
        <ion-list-header class="ion-text-center">

            <ion-label style="font-weight: bold;">
                Agregar tarjeta bancaria
            </ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>Titular</ion-label>
            <ion-input placeholder="Nombre"></ion-input>
            <ion-icon name="information-circle-outline"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label>Número de tarjeta</ion-label>
            <ion-input placeholder="Número de tarjeta"></ion-input>
            <ion-icon name="camera-outline"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label>Tipo de tarjeta</ion-label>
            <ion-select placeholder='seleccionar'>
                <ion-select-option value="MASTERCARD credit card">Mastercard</ion-select-option>
                <ion-select-option value="BBVA">Visa</ion-select-option>
            </ion-select>
        </ion-item>

    </ion-list>




    <ion-list lines="full" class="ion-no-margin">
        <ion-list-header>

            <ion-label style="color: grey;">
                Información de tarjeta
            </ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>Validación</ion-label>
            <ion-input placeholder="mes/año"></ion-input>
            <ion-icon name="information-circle-outline"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label>Código CCV</ion-label>
            <ion-input placeholder="Código de seguridad"></ion-input>
            <ion-icon name="information-circle-outline"></ion-icon>
        </ion-item>

    </ion-list>
    <ion-list lines="full" class="ion-no-margin">
        <ion-list-header>

            <ion-label style="color: grey;">
                Dirección de facturación
            </ion-label>
        </ion-list-header>

        <ion-item>
            <ion-label>Región</ion-label>
            <ion-select placeholder='seleccionar'>
                <ion-select-option value="cat">México</ion-select-option>
                <ion-select-option value="dog">Brasil</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Dirección</ion-label>
            <ion-input placeholder="Ingresar dirección"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Teléfono</ion-label>
            <ion-input placeholder="Número de telefono"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Email</ion-label>
            <ion-input placeholder="Correo electrónico"></ion-input>
        </ion-item>

    </ion-list>


    <div style="margin-top: 10%;">
        <ion-button mode='ios' style="--background: #35CA75;" expand="block">Guardar</ion-button>
    </div>
    <ion-footer class="ion-no-border ion-text-center">
        <ion-toolbar>
            <ion-title style="font-size: 11px; color: grey;">Proporcionado por Topmaipay</ion-title>
        </ion-toolbar>
    </ion-footer>
</ion-content>