<!-- <ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start" (click)="goBack()">
            <ion-icon style="font-size: 30px; color: #65676b;" name="chevron-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title class="font-mai" style="color: #65676b; text-align: center;">TopmaiVideos</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon style="font-size: 30px; color: #65676b;" name='camera-outline'></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>


</ion-header> -->

<!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll> -->

<ion-content class="ion-padding ion-text-center">
    <ion-toolbar>
        <ion-buttons slot="start" (click)="goBack()">
            <ion-icon style="font-size: 30px; color: white;" name="chevron-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title class="font-mai">
            <ion-segment value="all">
                <ion-segment-button value="all">
                    <ion-label>Siguiendo</ion-label>
                </ion-segment-button>
                <ion-segment-button value="favorites">
                    <ion-label>Para ti</ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon style="font-size: 30px; color: white;" name='camera-outline'></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>


    <div class="icon1">
        <img class="imgmai" src="assets/dog.jpg">
    </div>
    <div class="icon2">
        <ion-icon name="heart"></ion-icon>
    </div>
    <div class="icon3">
        <ion-icon name="chatbubble-ellipses"></ion-icon>
    </div>
    <div class="icon4">
        <ion-icon name="arrow-redo"></ion-icon>
    </div>
</ion-content>