<ion-header [translucent]="true" class="color-header">
    <ion-grid style="height: 50px">
        <ion-row>
            <ion-col size="1">
                <ion-icon (click)="goBack()" style="font-size: 30px; color: white; margin: 0px 5px" name="chevron-back-outline"></ion-icon>
            </ion-col>
            <ion-col class="font-mai" style="color: #fff; margin-top: 7px; font-size: 1.5rem; margin-left: 10px;">
                topmai envío
            </ion-col>
            <ion-col size="3">
                <img src="assets/homePage/scanIcon.png" style="width: 25px" />
                <ion-icon style="color: white;font-size: 25px;margin-left: 10px" name="ellipsis-vertical"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content>
    <ion-item lines="none">
        <ion-checkbox slot="start" checked></ion-checkbox>
        <ion-label>

            <img src="assets/imgs/dhl.png" alt="">
        </ion-label>

        <p slot="end">$146.00</p>
    </ion-item>

    <ion-item lines="none">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>

            <img src="assets/imgs/estafeta.png" alt="">
        </ion-label>

        <p slot="end">$148.00</p>
    </ion-item>


    <ion-item lines="none">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>

            <img src="assets/imgs/fedex.png" alt="">
        </ion-label>

        <p slot="end">$167.00</p>
    </ion-item>

    <ion-item lines="none">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>

            <img src="assets/imgs/redpack.png" alt="">
        </ion-label>

        <p slot="end">$167.00</p>
    </ion-item>

    <ion-item lines="none">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>

            <img src="assets/imgs/ups.png" alt="">
        </ion-label>

        <p slot="end">$167.00</p>
    </ion-item>


    <ion-item lines="none">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>

            <img src="assets/imgs/fedex.png" alt="">
        </ion-label>

        <p slot="end">$167.00</p>
    </ion-item>


    <ion-item lines="none">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>

            <img src="assets/imgs/redpack.png" alt="">
        </ion-label>

        <p slot="end">$167.00</p>
    </ion-item>


    <ion-item lines="none">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>

            <img src="assets/imgs/ups.png" alt="">
        </ion-label>

        <p slot="end">$167.00</p>
    </ion-item>

    <ion-item lines="none">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>

            <img src="assets/imgs/estafeta.png" alt="">
        </ion-label>

        <p slot="end">$148.00</p>
    </ion-item>
    <ion-row style="margin-bottom: 0px">
        <button>
  Guardar y continuar
</button>

    </ion-row>
</ion-content>