<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">

            <ion-icon style="font-size: 25px" name="refresh-outline"></ion-icon>

        </ion-buttons>
        <ion-buttons slot="end">

            <ion-icon style="font-size: 25px" (click)="close()" name="close-outline"></ion-icon>

        </ion-buttons>

        <ion-title style="text-align: center;">Filtro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-list-header style="font-size: 1rem;">
            Precio
        </ion-list-header>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-input style=" border: 2px solid rgba(128, 128, 128, 0.267); border-radius: 5px;" placeholder="Mínimo"></ion-input>
                </ion-col>
                <ion-col>
                    <ion-input style=" border: 2px solid rgba(128, 128, 128, 0.267); border-radius: 5px;" placeholder="Máximo"></ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
</ion-content>