<ion-header [translucent]="true" style="position: relative; height: 40px;">
  <ion-icon (click)="dismiss()" style="position: absolute; top:6px; left: 10px; font-size: 25px;" name="close-outline"></ion-icon>
  <div style="display: flex;justify-content: flex-start;align-items: center;height: 100%">
    <div style="margin-left: 45px; font-weight: bold">
      Pago y envio
    </div>
  </div>
</ion-header>

<ion-content>
  <div style="background: #c1f2ef; font-size: 13px; padding: 10px">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error exercitationem id iest.
  </div>
  <div style="font-size: 16px; font-weight: bold; padding: 10px">
    Vendedor: eftnetworks
  </div>
  <ion-row style="margin-top: 10px">
    <ion-col size="3">
      <img src="assets/homePage/item-two/1.png"/>
    </ion-col>
    <ion-col style="font-size: 14px; line-height: 20px">
      <div>Apple 2021 MAC MINI</div>
      <div>A1347 2.3GHZ CORE</div>
      <div>i7 SSD 8GB 256GB SSD</div>
      <div>MOJAVE 10.14 T7-B3</div>
      <div style="color: grey; font-size: 10px; margin-top: 5px">Cantidad 1</div>
    </ion-col>
    <ion-col size="3" style="font-weight: bold">
      $175.00
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3" style="display: flex;align-items: center;justify-content: center">
      <input checked name="fav_language" style="display: block" type="radio"/>
    </ion-col>
    <ion-col style="font-size: 14px; line-height: 16px">
      <div>Entrega</div>
      <div style="color:grey; font-size: 12px">A1347 2.3GHZ CORE</div>
      <div style="color:grey;font-size: 12px">Standard Shipping</div>
      <div style="color:grey;font-size: 12px; margin-top: 3px">$15.00</div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3" style="display: flex;align-items: center;justify-content: center">
      <input name="fav_language" style="display: block" type="radio"/>
    </ion-col>
    <ion-col style="font-size: 14px; line-height: 16px">
      <div>Recogida</div>
      <div style="color:grey; font-size: 12px">A1347 2.3GHZ CORE</div>
      <div style="color:grey;font-size: 12px">Local Pickup</div>
      <div style="color:grey;font-size: 12px; margin-top: 3px">$15.00</div>
    </ion-col>
  </ion-row>

  <hr/>

  <ion-row>
    <ion-col>
      Mensaje al vendedor
    </ion-col>
    <ion-col size="1">
      <ion-icon name="chevron-forward-outline" style="color: grey"></ion-icon>
    </ion-col>
  </ion-row>
  <hr/>

  <ion-row style="font-size: 14px">
    <ion-col size="2">
      Envio a
    </ion-col>
    <ion-col style="color: grey; font-size: 12px">
      <div>Mensaje al vendedor</div>
      <div>Mensaje al vendedor</div>
      <div>Mensaje al vendedor</div>
      <div>Mensaje al vendedor</div>
      <div>Mensaje al vendedor</div>
      <div>Mensaje al vendedor</div>
    </ion-col>
    <ion-col size="1" style="display: flex; align-items: center">
      <ion-icon  name="chevron-forward-outline" style="color: grey; display: block"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row style="font-size: 14px; margin-top: 5px">
    <ion-col size="2">
      Envio a
    </ion-col>
    <ion-col style="color: #c92016; font-size: 12px">
      <div>Mensaje al vendedor</div>
    </ion-col>
    <ion-col size="1" style="display: flex; align-items: center">
      <ion-icon  name="chevron-forward-outline" style="color: grey; display: block"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row style="font-size: 14px;margin-top: 5px">
    <ion-col>
      <div>Tarjets regalo, cupoesn y dfsfsdafad de eBay</div>
    </ion-col>
    <ion-col size="1" style="display: flex; align-items: center">
      <ion-icon  name="chevron-forward-outline" style="color: grey; display: block"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row style="font-size: 14px;margin-top: 5px">
    <ion-col>
      <div>Tarjets regalo, cupoesn y </div>
      <div>Tarjets (Special)</div>
    </ion-col>
    <ion-col size="1" style="display: flex; align-items: center">
      <ion-icon  name="chevron-forward-outline" style="color: grey; display: block"></ion-icon>
    </ion-col>
  </ion-row>
  <hr/>

  <ion-row style="font-size: 14px;margin-top: 5px">
    <ion-col style="color: grey">
      Subtotal (1 articulo)
    </ion-col>
    <ion-col size="3" style="text-align: right">
      $175.00
    </ion-col>
  </ion-row>
  <ion-row style="font-size: 14px">
    <ion-col style="color: grey">
      Envio
    </ion-col>
    <ion-col size="3" style="text-align: right">
      $15.00
    </ion-col>
  </ion-row>
  <ion-row style="font-size: 14px">
    <ion-col style="color: grey">
      Impuestos*
    </ion-col>
    <ion-col size="3" style="text-align: right">
      $15.68
    </ion-col>
  </ion-row>
  <hr/>

  <ion-row style="font-size: 16px;margin-top: 5px">
    <ion-col style="color: grey">
      Total del pedido
    </ion-col>
    <ion-col size="3" style="text-align: right; font-weight: bold">
      $205.68
    </ion-col>
  </ion-row>

  <ion-row style="font-size: 12px; color: grey; margin-top: 10px">
    <ion-col>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet aperiam autem consequatur corporis deserunt eaque earum, eligendi
      </div>
      <div style="color: #0f7bcd">More information</div>
    </ion-col>
  </ion-row>

  <ion-row style="font-size: 14px; color: grey; margin-top: 10px; text-align: center">
    <ion-col>
        Lorem ipsum dolor sit amet
    </ion-col>
  </ion-row>

  <ion-row style="font-size: 14px; color: grey; margin-top: 0px;text-align: center">
    <ion-col>
      <div style="color: #0f7bcd">More information</div>
    </ion-col>
  </ion-row>

  <ion-row style="font-size:14px; color: white; margin-top: 10px;text-align: center; font-weight: bold">
    <ion-col>
      <div style="background: #b4b3b3; border-radius: 20px; padding: 10px 0px; justify-content: center;align-items: center;display: flex">
        <ion-icon style="display: block" name="lock-closed"></ion-icon>
        <div style="margin-left: 5px">More information</div>
      </div>
    </ion-col>
  </ion-row>


</ion-content>
