<ion-header mode='ios'>
    <ion-toolbar>
        <ion-buttons slot="start" (click)="goBack()">
            <ion-icon style="font-size: 30px; " name="chevron-back-outline"></ion-icon>
        </ion-buttons>

        <ion-title>Configuración</ion-title>


    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-list lines="full" class="ion-no-margin">

        <ion-item lines="none">
            <ion-label>Seguridad de cuenta</ion-label>

            <ion-icon name="chevron-forward-outline"></ion-icon>

        </ion-item>

        <hr style="border-top: 8px solid #f6f3f3;">

        <ion-item>
            <ion-label>General</ion-label>

            <ion-icon name="chevron-forward-outline"></ion-icon>

        </ion-item>
        <ion-item>
            <ion-label>Privacidad</ion-label>

            <ion-icon name="chevron-forward-outline"></ion-icon>

        </ion-item>
        <ion-item>
            <ion-label>Chats</ion-label>

            <ion-icon name="chevron-forward-outline"></ion-icon>

        </ion-item>
        <ion-item>
            <ion-label>No molestar</ion-label>

            <ion-icon name="chevron-forward-outline"></ion-icon>

        </ion-item>
        <ion-item lines="none">
            <ion-label>Notificaciones</ion-label>

            <ion-icon name="chevron-forward-outline"></ion-icon>

        </ion-item>

        <hr style="border-top: 8px solid #f6f3f3;">

        <ion-item>
            <ion-label>Acerca de</ion-label>

            <ion-icon name="chevron-forward-outline"></ion-icon>

        </ion-item>
        <ion-item lines="none">
            <ion-label>Ayuda y comentarios</ion-label>

            <ion-icon name="chevron-forward-outline"></ion-icon>

        </ion-item>
        <hr style="border-top: 8px solid #f6f3f3;">

        <ion-item lines="none">
            <ion-label>Topmai Services</ion-label>

            <ion-icon name="chevron-forward-outline"></ion-icon>

        </ion-item>



    </ion-list>




    <div class="ion-padding">
        <ion-button mode='ios' expand="block">Cambiar de cuenta</ion-button>
        <ion-button mode='ios' style="--background: #fb0f3a;" expand="block">Cerrar sesión</ion-button>

    </div>


</ion-content>