<ion-header class="ion-no-border">

    <ion-toolbar>
        <ion-buttons slot="start" (click)="goBackk()">

            <ion-icon style="font-size: 30px; color: black;" name="chevron-back-outline"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="secondary">
            <ion-button>
                <ion-icon name="ellipsis-horizontal"></ion-icon>

            </ion-button>
        </ion-buttons>
        <ion-title class="font-mai">topmai</ion-title>
    </ion-toolbar>

</ion-header>

<!-- <ion-content>
    <div class="top-holder">
        <ion-row>
            <ion-col size="3" class="flex al-center">
                <ion-avatar>
                    <img src="assets/imgs/user.png" />
                </ion-avatar>
            </ion-col>
            <ion-col size="9">
                <h4>Name: Topmai</h4>
                <h4>WeChat ID: <span>topmai-com-mx</span></h4>
                <h4>Region: <span>Mexico City</span></h4>
            </ion-col>
        </ion-row>
    </div>

    <div class="menu-list">
     
        <ion-item lines="none" detail>
            <ion-label>Privacy</ion-label>
        </ion-item>
    </div>

    <div class="menu-list">
        <ion-item lines="none" detail>
            <ion-label>Moments</ion-label>
        </ion-item>
        <ion-item lines="none" detail>
            <ion-label>More</ion-label>
        </ion-item>
    </div>

    <div class="bottom-list">
        <ion-item lines="none">
            <img src="assets/imgs/sendmsg.svg" alt="" slot="start">
            <ion-label>Send Message</ion-label>
        </ion-item>
        <ion-item lines="none">
            <img src="assets/imgs/video.svg" alt="" slot="start">
            <ion-label>Voice or Video Call</ion-label>
        </ion-item>
    </div>


</ion-content> -->






<ion-content>
    <div style="position: relative; margin-bottom: 4rem;">
        <img class="cover-image" src="assets/chat/discover/cover.png">


        <div class="img-perfil">
            <img src="assets/chat/contacts/1.png">
        </div>

    </div>

    <ion-list lines="full" class="ion-no-margin">

        <ion-item lines="none">
            <ion-label>Nombre</ion-label>
            topmai
        </ion-item>
        <ion-item lines="none">
            <ion-label>ID topmai</ion-label>
            topmai.com.mx
        </ion-item>
        <ion-item lines="none">
            <ion-label>Región</ion-label>
            Ciudad de méxico
        </ion-item>
        <ion-item lines="none">
            <ion-label>Género</ion-label>
            Masculino
        </ion-item>

        <hr style="border-top: 8px solid #f6f3f3;">

        <ion-item lines="none">
            <ion-label>Privacidad</ion-label>
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-item>

        <ion-item lines="none">
            <ion-label>Momentos</ion-label>
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-item>

        <hr style="border-top: 8px solid #f6f3f3;">


        <ion-item lines="none">
            <ion-label>Envíar mensaje</ion-label>
            <img src="assets/imgs/sendmsg.svg" alt="" slot="end">
            <!-- <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
            <ion-icon name="chevron-forward-outline"></ion-icon> -->
        </ion-item>

        <ion-item lines="none">
            <ion-label>Videollamada</ion-label>
            <img src="assets/imgs/video.svg" alt="" slot="end">
            <!-- <ion-icon name="videocam-outline"></ion-icon>
            <ion-icon name="chevron-forward-outline"></ion-icon> -->
        </ion-item>
    </ion-list>






</ion-content>