ion-header::after {
    background-image: none;
}

.green-card {
    margin-top: 9px;
    color: white;
    background: #4cd080;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    text-align: center;
}

.text {
    border-right: 5px solid red;
}

.right-border {
    border-right: 1px solid rgba(255, 255, 255, 0.23)
}

.img-card {
    margin-bottom: 5px;
    padding: 10px;
    width: 55px;
    background: #f6fafd;
    border-radius: 5px
}

ion-slides {
    --bullet-background: #797878;
    --bullet-background-active: #4cd080;
}