<ion-header [translucent]="true" class="color-header" style="position: relative">
  <ion-icon
    (click)="goBack()"
    style="position: absolute; top:4px; font-size: 30px;"
    name="chevron-back-outline">
  </ion-icon>
  <div style="display: flex;justify-content: center;align-items: center;height: 100%">
    <div>
      MY ORDERS
    </div>
  </div>
  <ion-icon style="position: absolute; top:6px;right: 5px; font-size: 25px;" name="search-outline"></ion-icon>
</ion-header>

<ion-content style="user-select: none">
  <ion-grid>
    <ion-row style="text-align: center;border-bottom: 1px solid #ececec;">
      <ion-col style="color: #DF2B26FF ">
        <span class="selected-title">
          ABC
        </span>
      </ion-col>
      <ion-col>
        ABC
      </ion-col>
      <ion-col>
        ABC
      </ion-col>
      <ion-col>
        ABC
      </ion-col>
      <ion-col>
        ABC
      </ion-col>
      <ion-col>
        ABC
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10px">
      <ion-col style="display: flex; align-items: center" size="2">
        <img src="assets/my-orders/mail.png"/>
      </ion-col>
      <ion-col style="display: flex; justify-content: center; flex-direction: column">
        <div style="font-weight: bold">
          fdsfds <span style="color: #DF2B26FF">124 AB</span> ABCDEF
        </div>
        <div style="color: grey">
          fdsf
        </div>
      </ion-col>
      <ion-col size="3">
        <div style="text-align:center;background: #DF2B26FF; color: #FFFFFF; font-size: 14px;padding: 7px 5px; border-radius: 5px">
          CLICK
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="height: 8px;background: #efeeee"></div>

  <ion-grid>
    <ion-row>
      <ion-col style="display: flex; align-items: center">
        <img src="assets/my-orders/profile.png" style="height: 20px; width: 20px; display: block"/>
        <div style="margin-left: 5px">
          ABCEDEF
        </div>
        <div style="margin-left: 5px;color:#a5a4a4;align-items:center;text-align: right; display: flex; justify-content:flex-end; ">
          <ion-icon style="font-size: 20px" name="chevron-forward-outline"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="2" style="color: #DF2B26FF; text-align: right;">
        MORE
      </ion-col>
    </ion-row>
    <ion-row style="border-bottom: 1px solid #ececec;">
      <ion-col size="2">
        <img src="assets/homePage/item-two/1.png"/>
      </ion-col>
      <ion-col style="line-height: 20px">
        <div>ADSADS DSAD  SADHSAA DHSAJDHSJA DHJSAH</div>
        <div style="color: grey">adsads (fdsafdsaf), fdsafds</div>
      </ion-col>
      <ion-col size="2" style="text-align: right">
        <div>$179</div>
        <div style="color: grey; font-size: 14px">
          x1
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="border-bottom: 1px solid #ececec;text-align: right">
      <ion-col style="padding: 10px 0px">
        ABC $179 (cdef)
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="display: flex; justify-content: flex-end; align-items: center">
        <div style="border-radius: 5px; border: 1px solid #aaa9a9; padding: 5px 10px">
          dfsfdsd
        </div>
        <div style="border-radius: 5px; border: 1px solid #aaa9a9; padding: 5px 10px; margin-left: 5px">
          dfsfdsd
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="height: 8px;background: #efeeee"></div>

  <ion-grid>
    <ion-row>
      <ion-col style="display: flex; align-items: center">
        <img src="assets/my-orders/profile.png" style="height: 20px; width: 20px; display: block"/>
        <div style="margin-left: 5px">
          ABCEDEF
        </div>
        <div style="margin-left: 5px;color:#a5a4a4;align-items:center;text-align: right; display: flex; justify-content:flex-end; ">
          <ion-icon style="font-size: 20px" name="chevron-forward-outline"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="2" style="color: #DF2B26FF; text-align: right;">
        MORE
      </ion-col>
    </ion-row>
    <ion-row style="border-bottom: 1px solid #ececec;">
      <ion-col size="2">
        <img src="assets/homePage/item-two/2.png"/>
      </ion-col>
      <ion-col style="line-height: 20px">
        <div>ADSADS DSAD  SADHSAA DHSAJDHSJA DHJSAH</div>
        <div style="color: grey">adsads (fdsafdsaf), fdsafds</div>
        <div>
          <span style="color: white; background: #34b739; border-radius: 5px;padding: 1px 3px; font-size: 14px">
            abcdefg
          </span>
        </div>
      </ion-col>
      <ion-col size="2" style="text-align: right">
        <div>$52.9</div>
        <div style="color: grey; font-size: 14px">
          x9
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="border-bottom: 1px solid #ececec;text-align: right">
      <ion-col size="3" style="display: flex; align-items: center">
        <img style="display: block; height: 25px;" src="assets/homePage/item-two/g1.png"/>
      </ion-col>
      <ion-col style="padding: 10px 0px">
        ABC $179 (cdef)
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="display: flex; justify-content: flex-end; align-items: center">
        <div style="border-radius: 5px; border: 1px solid #aaa9a9; padding: 5px 10px">
          dfsfdsd
        </div>
        <div style="border-radius: 5px; border: 1px solid #aaa9a9; padding: 5px 10px; margin-left: 5px">
          dfsfdsd
        </div>
        <div style="border-radius: 5px; border: 1px solid #aaa9a9; padding: 5px 10px; margin-left: 5px">
          dfsfdsd
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="height: 8px;background: #efeeee"></div>

</ion-content>
