.color-header {
  height: 40px;
}

ion-header {
  border-bottom: 1px solid #ececec;
}

ion-header::after {
  background-image: none;
}

.selected-title {
  border-bottom: 3px solid #DF2B26FF;
  padding-bottom: 5px;
}

#productPrice {
  color: red;
  font-size: 18px;
}

#bottomRow {
  border-bottom: 1px solid grey;
  padding: 10px 0px 5px;
}

#productImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 2px;
}
