<ion-header [translucent]="true" class="color-header" style="position: relative">
  <ion-icon (click)="goBack()" style="position: absolute; top:4px; font-size: 30px;" name="chevron-back-outline">
  </ion-icon>
  <div style="display: flex;justify-content: center;align-items: center;height: 100%">
    <div>
      MY DELIVERD ORDERS
    </div>
  </div>
  <ion-icon style="position: absolute; top:6px;right: 5px; font-size: 25px;" name="search-outline"></ion-icon>
</ion-header>

<ion-content style="user-select: none">

  <ion-grid *ngFor="let item of orders" style="margin: 20px 0px;">
    <ion-row>
      <ion-col size="12">
        ORDER ID: {{item[0].orderId}}
      </ion-col>
    </ion-row>
    <ion-row style="border-bottom: 1px solid #ececec;" *ngFor="let items of item[1]">
      <ion-col size="2">
        <img src="{{baseUrl}}/{{items.product.image[0].image}}" id="productImage" />
      </ion-col>
      <ion-col style="line-height: 20px">
        <div></div>
        <div style="color: grey" *ngIf="items.product.name.length > 40">{{items.product.name.substr(0,40)}}...</div>
        <div style="color: grey" *ngIf="items.product.name.length < 40">{{items.product.name}}</div>
      </ion-col>
      <ion-col size="2" style="text-align: right">
        <div id="productPrice">${{items.product.price}}</div>
        <div style="color: grey; font-size: 14px">
          QTY {{items.quantity}}
        </div>
      </ion-col>
    </ion-row>

    <ion-row id="bottomRow">
      <ion-col size="8">
        ORDER DATE {{item[0].createdAt | date : 'mediumDate'}}
      </ion-col>
      <ion-col size="4">
        <div id="productPrice">TOTAL ${{item[0].totalAmount}}</div>
      </ion-col>
    </ion-row>


  </ion-grid>

</ion-content>
