<div style="border-radius:20px 20px 0px 0px;padding: 20px">
    <div style="display: flex; justify-content: space-between">
        <div style="font-size: 18px;font-weight: bold">
            Súbelo al Marketplace
        </div>
        <div>
            <ion-icon style="font-size: 25px" (click)="dismiss()" name="close-outline"></ion-icon>
        </div>
    </div>

    <div (click)="addCategory()" style="display: flex; margin-top: 12px; align-items: center">
        <div>
            <img style="height: 40px" src="assets/chat/popUp/1.png" />
        </div>
        <div style="margin-left: 10px">
            Subelo
        </div>
    </div>

    <div style="display: flex; margin-top: 12px; align-items: center">
        <div>
            <img style="height: 40px" src="assets/chat/popUp/2.png" />
        </div>
        <div style="margin-left: 10px">
            Video de entretenimiento
        </div>
    </div>
<!---  <div style="display: flex; margin-top: 12px; align-items: center">
        <div>
            <img style="height: 40px" src="assets/chat/popUp/3.png" />
        </div>
        <div style="margin-left: 10px">
            Video Comercial
        </div>
    </div>--->
  

</div>