<ion-toolbar>
  <ion-buttons slot="start" (click)="dismiss()">
    <ion-icon style="font-size: 30px; " name="close-outline"></ion-icon>
  </ion-buttons>
</ion-toolbar>
<ion-content>


  <ion-content class="ion-padding ion-text-center">
    <ion-slide>
      <div class="img-perfil">
        <img src="../../../assets/topmai.svg">
      </div>
      <ion-input type="text" placeholder="E-mail" name="email" [(ngModel)]="formObj.email"></ion-input>
      <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="formObj.password"></ion-input>
      <ion-button style="--background: #35CA75;" (click)="logn()" expand='block'>Ingresar</ion-button>
      <ion-button fill='clear'>¿Eres nuevo? Registrate</ion-button>
    </ion-slide>
  </ion-content>
