<ion-header>
    <ion-toolbar>
        <ion-icon slot="start" (click)="gotoHome()" style="font-size: 30px;" name="close-outline"></ion-icon>
        <ion-title style="font-size:15px;font-weight: bold;text-align: center">Detalles del producto</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col style="display: flex; justify-content: center">
                <div style="border-radius: 15px; border: 1px solid #4cd080; padding: 5px">
                    <ion-icon style="font-size: 30px; color: #4cd080; display: block" size="4" name="camera"></ion-icon>
                    
                </div>
            </ion-col>
           
            
            <ion-col style="display: flex; justify-content: center">
                <div style="border-radius: 15px; border: 1px solid #4cd080; padding: 5px">
                    <ion-icon style="font-size: 30px; color: #4cd080; display: block" size="4" name="camera"></ion-icon>
                    
                </div>
            </ion-col>
            <ion-col style="display: flex; justify-content: center">
                <div style="border-radius: 15px; border: 1px solid #4cd080; padding: 5px">
                    <ion-icon style="font-size: 30px; color: #4cd080; display: block" size="4" name="camera"></ion-icon>
                </div>
            </ion-col>
            <ion-col style="display: flex; justify-content: center">
                <div style="border-radius: 15px; border: 1px solid #4cd080; padding: 5px">
                    <ion-icon style="font-size: 30px; color: #4cd080; display: block" size="4" name="camera"></ion-icon>
                </div>
            </ion-col>
            <ion-col style="display: flex; justify-content: center">
                <div style="border-radius: 15px; border: 1px solid #4cd080; padding: 5px">
                    <ion-icon style="font-size: 30px; color: #4cd080; display: block" size="4" name="camera"></ion-icon>
                </div>
            </ion-col>
        </ion-row>
        <ion-row style="margin-top: 10px">
            <ion-col style="display: flex; justify-content: center">
                <div style="border-radius: 15px; border: 1px solid #4cd080; padding: 5px">
                    <ion-icon style="font-size: 30px; color: #4cd080; display: block" size="4" name="camera"></ion-icon>
                </div>
            </ion-col>
            <ion-col style="display: flex; justify-content: center">
                <div style="border-radius: 15px; border: 1px solid #4cd080; padding: 5px">
                    <ion-icon style="font-size: 30px; color: #4cd080; display: block" size="4" name="camera"></ion-icon>
                </div>
            </ion-col>
            <ion-col style="display: flex; justify-content: center">
                <div style="border-radius: 15px; border: 1px solid #4cd080; padding: 5px">
                    <ion-icon style="font-size: 30px; color: #4cd080; display: block" size="4" name="camera"></ion-icon>
                </div>
            </ion-col>
            <ion-col style="display: flex; justify-content: center">
                <div style="border-radius: 15px; border: 1px solid #4cd080; padding: 5px">
                    <ion-icon style="font-size: 30px; color: #4cd080; display: block" size="4" name="camera"></ion-icon>
                </div>
            </ion-col>
            <ion-col style="display: flex; justify-content: center">
                <div style="border-radius: 15px; border: 1px solid #4cd080; padding: 5px">
                    <ion-icon style="font-size: 30px; color: #4cd080; display: block" size="4" name="camera"></ion-icon>
                </div>
            </ion-col>
        </ion-row>
        <hr/>
        <ion-row style="margin-top: 20px">
            <ion-col>
                <input placeholder="Titulo*" />
            </ion-col>
        </ion-row>
        <ion-row style="margin-top: 20px">
            <ion-col>
                <input placeholder="Descripcion*" />
            </ion-col>
        </ion-row>
        <ion-row style="margin-top: 20px">
            <ion-col>
                <div style="position: absolute; right: 10px;top: 33px;display:flex;; align-items: center">
                    <span style="display: block;margin-left: 5px; color: #4cd080; padding-right: 20px" >Editar</span>
                    <ion-icon style="color: #c1c0c0; display: block" name="chevron-forward-outline"></ion-icon>
                </div>
                <div style="font-size: 14px; color: #656464">Categoria*</div>
                <div style="margin-top: 5px; display: flex; align-items: center">
                    
                    <div style="margin-left: 5px;">Electrodomesticos</div> 
                </div>  
            </ion-col>
           
           
        </ion-row>
        <ion-row style="margin-top: 20px">
            <ion-col>
                <ion-icon style="position: absolute; right: 10px; color: #c1c0c0" name="chevron-forward-outline"></ion-icon>
                <input placeholder="Subcategoria" />
            </ion-col>
        </ion-row>
        <ion-row style="margin-top: 20px">
            <ion-col>
                <ion-icon style="position: absolute; right: 10px; color: #c1c0c0" name="chevron-forward-outline"></ion-icon>
                <input placeholder="Estado del producto" />
            </ion-col>
        </ion-row>
        <ion-row style="margin-top: 20px">
            <ion-col>
                <ion-icon style="position: absolute; right: 10px; color: #c1c0c0" name="chevron-forward-outline"></ion-icon>
                <input placeholder="Hashtags" />
            </ion-col>
        </ion-row>
        <ion-row style="margin-top: 20px">
            <ion-col>
                <input placeholder="Precio*" />
            </ion-col>
        </ion-row>
        <ion-row style="margin-top: 20px;">
            <ion-col>
                <div style="font-weight: bold; display: flex; justify-content: space-between">
                    <div>
                        Envios
                    </div>
                    <div style="color: #4cd080">
                        + info
                    </div>
                </div>
                <div style="color: #d2d1d1; margin-top: 10px">
                    Indicar tramo de peso:
                </div>
            </ion-col>
        </ion-row>

        <ion-row style="margin-top: 5px">
            <ion-col style="text-align: center; display: flex; justify-content: center" size="4">
                <div>
                    <div>
                        <ion-icon style="font-size: 30px;" name="cube-outline"></ion-icon>
                    </div>
                    <div>
                        de 0<br>a 2kg
                    </div>
                </div>
            </ion-col>
            <ion-col style="text-align: center; display: flex; justify-content: center" size="4">
                <div>
                    <div>
                        <ion-icon style="font-size: 30px;" name="cube-outline"></ion-icon>
                    </div>
                    <div>
                        de 2<br>a 5kg
                    </div>
                </div>
            </ion-col>
            <ion-col style="text-align: center; display: flex; justify-content: center" size="4">
                <div>
                    <div>
                        <ion-icon style="font-size: 30px;" name="cube-outline"></ion-icon>
                    </div>
                    <div>
                        de 5<br>a 10kg
                    </div>
                </div>
            </ion-col>
            <ion-col style="text-align: center; display: flex; justify-content: center" size="4">
                <div>
                    <div>
                        <ion-icon style="font-size: 30px;" name="cube-outline"></ion-icon>
                    </div>
                    <div>
                        de 10<br>a 20kg
                    </div>
                </div>
            </ion-col>
            <ion-col style="text-align: center; display: flex; justify-content: center" size="4">
                <div>
                    <div>
                        <ion-icon style="font-size: 30px;" name="cube-outline"></ion-icon>
                    </div>
                    <div>
                        de 20<br>a 30kg
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row style="margin-bottom: 30px">
            <ion-col>
                <div style="color: #d2d1d1; margin-top: 10px">
                    gfdsgfdsgfdsgfdsg fds gfds gfd sgfds gfd sgfds gfds gfds gfds gfdsg fdsgfdsgfdsgfdsg fdsg fd
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <div>
        <div style="margin:10px; padding:10px;text-align:center;cursor:pointer;color: white; background: #4cd080; border-radius: 30px">
            Subir producto
        </div>
    </div>
</ion-footer>