<div class="header" style="position: relative">
  <ion-icon (click)="goBack()" style="position: absolute; top:8px; font-size: 30px;" name="chevron-back-outline"></ion-icon>
  <div style="margin-left:40px; display: flex;justify-content: flex-start;align-items: center;height: 100%">
    <div>
      <b>vehiculos</b>
    </div>
  </div>
</div>

<ion-content>
  <div class="card">
    <carousel [counter]=true [cellWidth]="innerWidth" [loop]=true [images]="selectedImagesSet" [dots]=true [arrowsOutside]=true [arrows]=false></carousel>
    <ion-grid>
      <ion-row style="margin-top: 10px">
        <ion-col style="color: orange; font-weight: bold; font-size: 20px">
          $300
        </ion-col>
        <ion-col size="3" style="color: grey; text-align: right">
          abcedf
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          gfgdsfdsgfdsgfds
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 5px">
        <ion-col style="display: flex;justify-content: space-between; align-items: center; color: grey">
          <div style="display: flex; align-items: center; justify-content: center; text-align: center">
            <div style="font-size: 13px">
              <ion-icon style="font-size: 25px; display: block" name="basket-outline"></ion-icon>
              abs
            </div>
            <div style="font-size: 13px; margin-left: 20px">
              <ion-icon style="font-size: 25px; display: block" name="star-outline"></ion-icon>
              abs
            </div>
            <div style="font-size: 13px; margin-left: 20px">
              <ion-icon style="font-size: 25px; display: block" name="chatbox-ellipses-outline"></ion-icon>
              abs
            </div>
          </div>
          <div>
            <div style="display: flex">
              <div style="width: 55px;background-image: linear-gradient(to right, #ffc501 , #fe8402);; border-bottom-left-radius: 20px;border-top-left-radius: 20px; padding: 7px; display: flex; align-items: center;justify-content: center">
                <ion-icon style="color:#FFFFFF;display: flex; font-size: 25px" name="cart-outline"></ion-icon>
              </div>
              <div style="width: 75px;display: flex; align-items: center;justify-content: center;background: #fe5d00; border-bottom-right-radius: 20px;border-top-right-radius: 20px;padding: 7px; color: white">
                <div>ABC</div>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="card">
    <carousel [counter]=true [cellWidth]="innerWidth" [loop]=true [images]="selectedImagesSet" [dots]=true [arrowsOutside]=true [arrows]=false></carousel>
    <ion-grid>
      <ion-row style="margin-top: 10px">
        <ion-col style="color: orange; font-weight: bold; font-size: 20px">
          $300
        </ion-col>
        <ion-col size="3" style="color: grey; text-align: right">
          abcedf
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          gfgdsfdsgfdsgfds
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 5px">
        <ion-col style="display: flex;justify-content: space-between; align-items: center; color: grey">
          <div style="display: flex; align-items: center; justify-content: center; text-align: center">
            <div style="font-size: 13px">
              <ion-icon style="font-size: 25px; display: block" name="basket-outline"></ion-icon>
              abs
            </div>
            <div style="font-size: 13px; margin-left: 20px">
              <ion-icon style="font-size: 25px; display: block" name="star-outline"></ion-icon>
              abs
            </div>
            <div style="font-size: 13px; margin-left: 20px">
              <ion-icon style="font-size: 25px; display: block" name="chatbox-ellipses-outline"></ion-icon>
              abs
            </div>
          </div>
          <div>
            <div style="display: flex">
              <div style="width: 55px;background-image: linear-gradient(to right, #ffc501 , #fe8402);; border-bottom-left-radius: 20px;border-top-left-radius: 20px; padding: 7px; display: flex; align-items: center;justify-content: center">
                <ion-icon style="color:#FFFFFF;display: flex; font-size: 25px" name="cart-outline"></ion-icon>
              </div>
              <div style="width: 75px;display: flex; align-items: center;justify-content: center;background: #fe5d00; border-bottom-right-radius: 20px;border-top-right-radius: 20px;padding: 7px; color: white">
                <div>ABC</div>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
