<ion-header [translucent]="true" class="color-header" style="position: relative">
  <ion-icon (click)="dismiss()" style="position: absolute; top:8px; font-size: 30px;" name="chevron-back-outline"></ion-icon>
  <div style="margin-left:40px; display: flex;justify-content: flex-start;align-items: center;height: 100%">
    <div>
      <b>Order Details</b>
    </div>
  </div>
  <ion-icon style="position: absolute; top:8px; right:10px; font-size: 30px;" name="cart-outline"></ion-icon>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="background: #e8f1fa; border-radius: 5px; padding: 8px">
      <ion-col size="2">
        <img style="border-radius: 5px" src="assets/homePage/item-two/1.png"/>
      </ion-col>
      <ion-col>
        <div><b>It's on the way.</b></div>
        <div style="margin-top: 5px; font-size: 14px">Arriving tomorrow</div>
        <div style="margin-top: 5px; font-size: 14px;color: #3099ff">Track package</div>
      </ion-col>
    </ion-row>
    <ion-row style="font-size: 14px; line-height: 25px; margin-top: 10px">
      <ion-col size="4" style="color: grey">
        <div>
          Time placed
        </div>
        <div>
          Order Number
        </div>
        <div>
          Total
        </div>
        <div>
          Sold By
        </div>
      </ion-col>
      <ion-col>
        <div>
          2 ago, 2021 at 9.55
        </div>
        <div>
          20-321321-321-321-
        </div>
        <div>
        USD205.68 (1 item)
        </div>
        <div style="color: #3099ff">
          eftnetwork
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10px">
      <ion-col>
        <div style="font-size: 20px; font-weight: bold">Delivery info</div>
        <div style="font-size:14px; margin-top: 10px; color: #20af3b; font-weight: bold">Arriving by viernes, 6 de ago. de 2021</div>

      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 15px;">
      <ion-col>
        <div style="display: flex; align-items: center; justify-content: center">
          <ion-icon style="display: block;color: #20af3b; font-size: 30px" name="checkmark-circle"></ion-icon>
          <hr style="height: 2px; width: 85px;background: #20af3b;margin:0px; display: block"/>
          <ion-icon style="display: block;color: #20af3b; font-size: 30px" name="checkmark-circle"></ion-icon>
          <hr style="height: 2px; width: 85px;background: #20af3b;margin:0px; display: block"/>
          <ion-icon style="display: block;color: #20af3b; font-size: 30px" name="ellipse-outline"></ion-icon>
        </div>
        <div style="margin-top:5px;font-size:14px;display: flex; align-items: center; justify-content: space-around; text-align: center;">
          <div style="width: 65px">Paid <br/> 3 ago.</div>
          <div style="width: 65px">Shipped <br/> 3 ago.</div>
          <div style="width: 65px"><b>Delivered</b></div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10px">
      <ion-col>
        <div style="padding:5px; border-radius: 5px; border: 1px solid #dedddd; width: 100%; display: flex; align-items: center">
          <div style="display: flex">
            <img style="border-radius: 5px; width: 60px; display: block" src="assets/homePage/item-two/1.png"/>
            <div style="margin-left: 10px; font-size: 14px">
              APPLE 2021 MAC MINI A1347<br/>2.3GHz 16GB RAM
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10px">
      <ion-col>
        <div style="font-size: 20px; font-weight: bold">Shipping address</div>
        <div style="font-size:14px; margin-top: 10px;">
          indigo Power <br/>
          7917 McPherson ED STE fsdgfdsg gf sgfds fdg<br>
          Santos<br>
          Laredo, TExas<br>
          Estados Unidos
        </div>
      </ion-col>
    </ion-row>
    <hr style="background: #e3e2e2; height: 1px">
    <ion-row style="margin-top: 10px">
      <ion-col>
        <div style="font-size: 20px; font-weight: bold">Payment Info</div>
        <div style="font-size:14px; margin-top: 10px; display: flex; justify-content: space-between">
          <div style="display: flex">
            <img style="width: 45px;height: 30px; display: block" src="assets/about-me/visa.png"/>
            <div style="margin-left: 10px">
              Ending in 2686
              <br><span style="font-size: 12px;">indigo power</span>
            </div>
          </div>
          <div>
            USD 205.68<br><span style="font-size: 12px; color: grey">3 ago, at 0:09</span>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <hr style="background: #e3e2e2; height: 1px">

    <ion-row>
    <ion-col>
      <div style="font-size: 20px; font-weight: bold">Payment Info</div>
      <div style="font-size:14px; margin-top: 10px; display: flex; justify-content: space-between">
        <div style="color: gray">
          1 item
        </div>
        <div>
          USD 205.68
        </div>
      </div>
      <div style="font-size:14px; margin-top: 5px; display: flex; justify-content: space-between">
        <div style="color: gray">
          Shipping
        </div>
        <div>
          USD 205.68
        </div>
      </div>
      <div style="font-size:14px; margin-top: 5px; display: flex; justify-content: space-between">
        <div style="color: gray">
          Tax
        </div>
        <div>
          USD 205.68
        </div>
      </div>
      <hr style="background: #dedcdc; height: 1px; width: 100px; margin-right: 0px">
      <div style="font-size:16px; margin-top: 5px; display: flex; justify-content: space-between">
        <div style="color: gray">
          Order total
        </div>
        <div>
          USD 205.68
        </div>
      </div>
    </ion-col>
    </ion-row>
    <hr style="background: #eae9e9; height: 1px;">

    <ion-row style="margin-bottom: 20px">
      <ion-col>
        <div style="font-size: 20px; font-weight: bold">More Actions</div>
        <div style="font-size: 14px; color: #3099ff; margin-top: 10px">Tell us what you think</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
